* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{
	background: rgba(242,242,242,0.2);
}

/* header */
#header{
	width: 1920px;
	height: 120px;
	margin: auto;
    
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
}

ul{
	margin: 0;
    list-style: none;
    display: inline-flex;;
}

a {
    text-decoration: none;
    color: #777777;
}


#header .logo{
	width: 280px;
	height: 100px;
	padding-top: 20px;
}
#header .logo img{
	width: 280px;
	height: 100px;
}

#header .navBar{
	padding-left: 400px;
}

#header .navBar ul li{
	width: 140px;
	height: 70px;
	font-size: 18px;
	font-family: Microsoft YaHei, Microsoft YaHei-Normal;
	font-weight: Normal;
	text-align: center;
	color: #777777;
	padding-top: 50px;
}

#header a.on{
	color: #009dff;
	box-shadow: inset 0 -3px 0 #009dff; 
	padding-bottom: 15px;
}


#header .sign{
	padding-right: 50px;
}

#header .sign ul li{
	width: 70px;
	height: 15px;
	font-size: 14px;
	font-family: Microsoft YaHei, Microsoft YaHei-Normal;
	font-weight: Normal;
	text-align: center;
	color: #777777;
	padding-top: 50px;
	
}

#footer .wrap {
	display: table;
	width: 1920px;
	height: 430px;
	text-align: center;
}

#footer .text {
	opacity: 0.08;
	font-size: 100px;
	font-family: Tahoma, Tahoma-Bold;
	font-weight: 900;
	color: #777777;
	position: relative;
	left: 10px;
	top: 45px;
}

#footer .box {
	width: 1100px;
	height: 350px;
	opacity: 0.85;
	background: #000000;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.71);
	position: relative;
}

#footer.info li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 33.333%;
	font-size: 15px;
	font-weight: 600;
	color: #595c6d;
	line-height: 20px;
	letter-spacing: -0.5px;
	text-align: left;
}
#footer .info li.fi_address {
    margin-bottom: 40px;
}
#footer .f_btn {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 190px;
    top: 90px;
}
