* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{
	background: rgba(242,242,242,0.2);
	z-index: -1;
}

/* header */
#header{
	width: 1850px;
	height: 120px;
	margin: auto;
    
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

#header ul{
	margin: 0;
    list-style: none;
    display: inline-flex;;
}

a {
    text-decoration: none;
    color: #777777;
}


#header .logo{
	width: 280px;
	height: 100px;
	padding-top: 20px;
}
#header .logo img{
	width: 280px;
	height: 100px;
}

#header .navBar{
	padding-left: 400px;
}

#header .navBar ul li{
	width: 140px;
	height: 70px;
	font-size: 18px;
	font-family: Microsoft YaHei, Microsoft YaHei-Normal;
	font-weight: Normal;
	text-align: center;
	color: #777777;
	padding-top: 50px;
}

#header a.on{
	color: #009dff;
	box-shadow: inset 0 -3px 0 #009dff; 
	padding-bottom: 15px;
}


#header .signBar ul li{
	width: 70px;
	height: 15px;
	font-size: 14px;
	font-family: Microsoft YaHei, Microsoft YaHei-Normal;
	font-weight: Normal;
	text-align: center;
	color: #777777;
	padding-top: 55px;
	
}

/* footer */
#footer .wrap {
	display: table;
	width: 1850px;
	height: 430px;
	text-align: center;
}

#footer .text {
	opacity: 0.08;
	font-size: 100px;
	font-family: Tahoma, Tahoma-Bold;
	font-weight: 900;
	color: #777777;
	position: relative;
	left: 10px;
	top: 45px;
}

#footer .box {
	width: 1100px;
	height: 350px;
	opacity: 0.85;
	background: #000000;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.71);
	position: relative;
}

#footer.info li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 33.333%;
	font-size: 15px;
	font-weight: 600;
	color: #595c6d;
	line-height: 20px;
	letter-spacing: -0.5px;
	text-align: left;
}
#footer .info li.fi_address {
    margin-bottom: 40px;
}
#footer .f_btn {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 190px;
    top: 90px;
}

.main{
	display: inline-flex;
	width: 1850px;
	height: 935px;
	position: relative;
	top: -120px;
}

#main .info{
	width: 300px;
	display: inline-flex;
	margin-top: 800px;
	justify-content:center;
	font-size: 15px;
	font-family: Helvetica, Helvetica-Normal;
	font-weight: bold;
}

#main .info_icon img{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-right: 5px;
	
}

#main .banner{
    width: 500px;
    background: #fee517;
    z-index: 1;
}

#main .banner img{
	width: 500px;
	height: 500px;
	margin-top: 220px;
}

#main .banner_button{
	display: inline-flex;
	width: 500px;
	justify-content: center;
	margin-top: 100px;
}


#main .banner_button div{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 3px;
}

#main .banner_button div{
	cursor: pointer;
}

#main .banner_button_circle1{
	background: black;
}

#main .banner_button_circle2{
	background: white;
}

#main .contents{
}

#main .top{
	margin-top: 200px;
	margin-left: 100px;
	width: 900px;
	height: 400px;
}

#main .top_title{
	display: inline-flex;
	margin-bottom: 10px;
}

#main .top_title img{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#main .top_img{
	display: inline-flex;
	width: 1000px;
	height: 300px;
}

#main .top_img img{
	width: 300px;
	height: 300px;
	margin-right: 20px;
}

#main .search{
	height: 400px;
	text-align: center;
	padding-top: 100px;
}

#main .search div select{
	width: 200px;
	height: 40px;
	margin-left: 100px;
}

#main .search div input{
	width: 400px;
	height: 40px;
}

