<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.jasla.ConnectGym.mapper.GymMapper"> 인터페이스 자바 잡는거-->

<mapper namespace="mapper.MemberMapper"><!-- 이건 xml 잡는거고  -->


	<!-- 회원가입(일반회원) -->
	<insert id="insertMember" parameterType="com.jasla.ConnectGym.domain.MemberDTO">
	insert into member_t values(
		member_seq.nextval,
		null, 
		#{mem_mail},
		#{mem_pw},
		#{mem_nick},
		#{mem_name},
		#{mem_gender},
		#{mem_birth},
		#{mem_zipcode},
		#{mem_addr},
		#{mem_de_addr},
		#{mem_phone},
		'F', <!-- 탈퇴여부 -->
		sysdate, 
		null, <!-- 수정 날짜 -->
		0, <!-- 회원 레벨 -->
		null, <!-- 트레이너 소개 -->
		null, <!-- 트레이너 한마디 -->
		null); <!-- 트레이너 태그 -->
		
	</insert>	
	<!-- 회원가입(트레이너) -->
	<insert id="insert" parameterType="com.jasla.ConnectGym.domain.MemberDTO">
	
	</insert>	
	
	<!-- 전체조회 -->
	<select id="selectMemAll" resultType="com.jasla.ConnectGym.domain.MemberDTO">
		SELECT * FROM member_t
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		select count(mem_mail) from member_t where mem_mail = #{mem_mail}
	</select>
</mapper>