<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.jasla.ConnectGym.mapper.GymMapper"> 인터페이스 자바 잡는거-->

<mapper namespace="mapper.SearchMapper"><!-- 이건 xml 잡는거고  -->
	<!-- 전체 조회 -->
	<select id="selectGymAll" resultType="com.jasla.ConnectGym.domain.GymDTO">
		SELECT * FROM gym_T
	</select>

	<select id="selectTraAll" resultType="com.jasla.ConnectGym.domain.MemberDTO">
		select * from member_t where mem_level = 50
	</select>
</mapper>